<style>

.stick {
  position: relative;
  bottom: 540px;
  left: 1020px;
}

</style>


<% if @comment.present? == false %>  
  <% if current_user.role == "client" %>
    <p>Please create your first comment</p><br><%= link_to "Create New Comment", new_trainer_post_comment_path(@trainer,@post) %>
    <%= link_to 'Back to Post', trainer_post_path(@trainer,@post) %>
  <% else %>
    <p>This Post has no comment.</p><br>
    <%= link_to 'Back to Post', trainer_post_path(current_user.trainer.id,@post) %>
    <%# alert: 'Trainer not found.' %>
  <% end %>

<% else  %>
  <ul>
  <%# if current_user.role == "client" %>
    <% @comment.each do |comment| %>
      <li><p>Commenter: <%= comment.commenter %></p></il>
      <li><p>Comment: <%= comment.comment %></p></li>
      <% if (current_user.client? && comment.commenter == current_user.client.name) or current_user.trainer? %>
      <li><%= link_to "Destroy", trainer_post_comment_path(@trainer.id,@post.id,comment.id), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li><hr>
      <% end %>
    <% end %>
  <div>
  <%= link_to 'Back to Post', trainer_post_path(@trainer,@post) %>
  </div>
<% end %>