<p>Hello <%= @trainer.name %>,</p>

<p>You have received an appointment request from <%= @appointment.client.name %> (<%= @appointment.client.email %>). Please confirm the appointment.</p>

<p>Trainer: <%= @trainer.name %></p>
<p>Client: <%= @appointment.client.name %></p>
<p>Email: <%= @appointment.client.email %></p>
<p>Phone Number: <%= @appointment.client.phone_number %></p>

<p>Click the link below to confirm the appointment:</p>
<p><%= link_to 'Confirm Appointment', confirm_appointment_url(@appointment) %></p>

<p>Regards,</p>
<p>Your App Team</p>
