<p>Hello <%= @appointment.client.name %>,</p>

<p>Your appointment with <%= @appointment.trainer.name %> has been confirmed. Here are the details:</p>

<p>Trainer: <%= @appointment.trainer.name %></p>
<p>Email: <%= @trainer_user.email %></p>
<p>Phone Number: <%= @appointment.trainer.phone_number %></p>

<p>Regards,</p>
<p>Your App Team</p>



