<p>Hello <%= @trainer.name %>,</p>

<p>You have received an appointment request from <%= @client_user.email %></p>
<p>Here's the details</p>

<p>Client: <%= @client.name %></p>
<p>Email: <%= @client_user.email %></p>
<p>Phone Number: <%= @client.phone_number %></p>

<p>Click the link below to confirm the appointment:</p>
<p><%= link_to 'Confirm Appointment', confirm_appointment_url(@appointment) %></p>
<p><%= link_to 'Reject Appointment', reject_appointment_url(@appointment) %></p>

<p>Regards,</p>
<p>Your App Team</p>



