<style>

.stick {
  position: relative;
  bottom: 540px;
  left: 1020px;
}

</style>


<%
=begin%>
 <h1>Post</h1>

<p>Title: <%= @post.title %></p>
<p>Content: <%= @post.content %></p> 
<%
=end%>

<% if @post.size == 0 %>  
  <% if current_user.role == "trainer" %>
    <p>Please create your first post</p><br><%= link_to "Create New Post", new_trainer_post_path(@trainer) %><br>
    <%= link_to 'Back to Profile', trainer_path(@trainer) %>
  <% else %>
    <p>This trainer currently has no post.</p><br>
    <%= link_to 'Back to Trainers', trainers_path %>
    <%# alert: 'Trainer not found.' %>
  <% end %>

<% else  %>
  <ul>
  <% if current_user.role == "trainer" %>
  <div>
    <% @post.each do |post| %>
      <li><p>Title: <%= post.title %></p></il>
      <% if post.images.attached? %>
        <% post.images.each do |i| %>
        
          <%= image_tag(i, size: "300x310", style: 'border-radius: 20%;') %>
        <% end %>
      <% end %>
      <li><p>Content: <%= post.content %></p></li><br>
      <li><%= link_to "Destroy", trainer_post_path(@trainer.id,post.id), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
      <%= link_to "comments", trainer_post_comments_path( @trainer.id, post.id  ) %>
      <hr>
    <% end %>
  </div>
  <br>
    <!-- Add other attributes specific to Trainer model -->   
    <div class = "stick">
    <%= link_to 'Back to Profile', trainer_path(@trainer.id) %>
    </div>
  <% else %>
    <% @post.each do |post| %>
      <li><p>Title: <%= post.title %></p></il>
      <% if post.images.attached? %>
        <% post.images.each do |i| %>
          <%= image_tag(i, size: "300x310", style: 'border-radius: 20%;') %>
        <% end %>
      <% end %>
      <li><p>Content: <%= post.content %></p></li>
      <h2>Comments</h2>
      <%#= render @post.comment %>
      <%#= link_to "Add Comment", new_trainer_post_comment_path( post.trainer.id, post.id ) %>
      <%= link_to "Add Comment", new_trainer_post_comment_path(@trainer.id,post.id)%><br>
      <%= link_to "comments", trainer_post_comments_path( post.trainer.id, post.id  ) %><br>
      <%#= render @post_1.comments %>
      <%#= render 'comments/form' %>
    <!-- Add other attributes specific to Trainer model -->
    <% end %>
    <br>
    <hr>
    <div class = "stick">
    <%= link_to 'Back to Trainers', trainers_path %>
    </div>
  </ul>
  <% end %>
<% end %>

