<%
=begin%>
 <style>
  .stick{
    display: flex;
    justify-content: right;
    margin-top: -28rem
  }
</style> 
<%
=end%>


<% @rate = [] %>
<% @ratings.each do |r| %> 
  <% @rate << r.value %>
<% end %>
<% @my_rating = @rate.sum/@rate.size.to_f %>

<%= image_tag(@trainer.profile,size: "170x180", style: 'border-radius: 50%;', class: 'css_class') %>

<h2>Welcome, I am <%= @trainer.name.capitalize %> </h2>

<p>I am <%= @trainer.age %> years old.</p>
<p>Here you can contact me:-<br><li><%= @trainer.phone_number %></li><br><li><%= @trainer.user.email %></li></p>
<p>Rating: <%= @my_rating %><br>
<%= link_to 'My Posts', trainer_post_path(@trainer) %><br>


<%
=begin%>
 <p>Name: <%= @trainer.name %></p>
<p>Age: <%= @trainer.age %></p>
<p>Phone Number: <%= @trainer.phone_number %></p>
<p>Email: <%= @trainer.user.email %></p> 
<%
=end%>
<!-- Add other attributes specific to Trainer model -->
<% if current_user.role == "client" %>

 <%# if current_user == @trainer.user %>
    <%#= link_to "Create New Post", new_trainer_post_path(@trainer) %><br>
  <%# end %> 
<div class="stick">
  <%= link_to "Back to Feeds", trainers_path %><br>
</div>
  <%#= link_to "Schedule Appointment", new_trainer_appointment_path(@trainer) %>
<% else %>

 <%# if current_user == @trainer.user %> 

  <%= link_to "Create New Post", new_trainer_post_path(@trainer) %><br>
  <%= link_to "My Clients", my_clients_path(@trainer)%><br>

  <%= button_to "Log Out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure you want to log out?" } %>
  <%# end %>
<%# end %>
<% end %>

<%# if current_user.client? %>
  <%# unless current_user.client.appointments.id? %>
    <%#= link_to "Schedule Appointment", new_trainer_appointment_path(@trainer) %>
  <%# end %>
  <%# elsif current_user.client.appointments.id? and current_user.client.appointments.confirmed.nil? %>
    <%
=begin%>
 <p> Please Wait For The Trainer To Confirm Your Appointment. </p> 
<%
=end%>
  <%# elsif current_user.client.appointments.id? and current_user.client.appointments.confirmed? %>
    <%# button_to "Chat" %>
<%# end %>

<% if current_user.client? %>
  <% unless current_user.client.ratings.exists?(trainer_id: @trainer.id) %>
    <%= form_with model: Rating.new, url: trainer_ratings_path(@trainer) do |form| %>
      <%= form.hidden_field :trainer_id, value: @trainer.id %>
      <label for="rating_value">Rate Trainer (0 to 5):</label>
      <%= form.select :value, (0..5).to_a, prompt: "Select rating" %>
      <%= form.submit "Submit Rating" %>
    <% end %>
  <% else %>
    <% rating = current_user.client.ratings.find_by(trainer_id: @trainer.id) %>
    <%= link_to "Update Rating", edit_trainer_rating_path(@trainer.id,rating.id), method: :put %>
  <% end %>

  <% unless current_user.client.appointments.exists?(trainer_id: @trainer.id) %>
    <%= link_to "Schedule Appointment", new_trainer_appointment_path(@trainer) %>
  <% else %>
    <% appointment = current_user.client.appointments.find_by(trainer_id: @trainer.id) %>
    <% if appointment.present? %>
      <% if appointment.confirmed.nil? %>
        <p>Please wait for the trainer to confirm your appointment.</p>
      <% elsif appointment.confirmed? %>
        <%= button_to "Chat", rooms_path %>
      <% end %>
    <% end %>
  <% end %>
<% end %>


<% if current_user.present? %>
  <% if current_user.trainer? %>
    <% @trainer.appointments.each do |appointment| %>
      <% unless appointment.confirmed? %>
        <%= link_to "Confirm Appointment", confirm_appointment_path(appointment) %><br>
        <%= link_to "Reject Appointment", reject_appointment_path(appointment) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

